<!DOCTYPE html>
<html>
    <head>
        <title>about</title>

        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
         <div class="main-content">
        {{>header}}
        <h1>{{name}}</h1>
        {{!-- <p>{{title}}</p> --}}
        <p>This site is created BY Aman </p>
        <p>This is a basic node js project in which we can get the weather data by providing the address</p>
        {{!-- <img class="portraitimg" src="/img/aman.png"> --}}
        </div>
        {{>footer}}

    </body>
</html>