<!DOCTYPE html>
<html>
    <head>
        <title>help</title>

        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
         <div class="main-content">

        {{>header}}
        <h1>{{name}}</h1>
        {{!-- <p>{{title}}</p> --}}
        <p style="text-transform: capitalize;">If you want any help you can always write us back to<b> Don'twriteusback@goaway.com</b></p>
        </div>
        {{>footer}}
    </body>
</html>